[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
	branch = v2.4.0
[submodule "public"]
	path = public
	url = https://github.com/cli99/cli99.github.io.git
